@import '../../styles';

.container {
  display: grid;
  row-gap: 4px;
  font-family: 'SF Pro Display', sans-serif;
  & label {
    font-size: 14px;
    line-height: 20px;
  }
  & input {
    font-size: 14px;
    color: $textPrimary;
    line-height: 20px;
    border-radius: $borderRadius;
    padding: 10px 16px;
    height: 40px;
    outline: none;
    width: 360px;
    border: 1px $borderDefault solid;
    &::placeholder {
      color: $textTertiary;
    }
    &:not(:placeholder-shown) {
      border-color: $orange;
    }
  }
}
