@import '../../styles';

.container {
  @include block;
  padding: 0;
  background: none;
  row-gap: $gapX;
}

.questions {
  display: flex;
  flex-direction: column;
  row-gap: $gapY;
}

.heading {
  @include block;
  @include heading;
}
