/* Colors */
$gray1: #333333;
$gray3: #828282;
$gray5: #E0E0E0;
$orange: #FF5500;
$orangeDisabled: #FFA375;
$textPrimary: #1B1F23;
$textTertiary: #999FA6;
$white: #FFFFFF;
$borderDefault: #E1E3E6;
$iconsTertiary: #999FA6;
$backgroundPrimary: #FFFFFF;
$backgroundRoot: #F5F5F5;
$backdropColor: #00000080;
