@import '../../styles';

.wrapper {
  @include wrapper;
}

.tickets {
  @include block;
  row-gap: 20px;
  max-height: fit-content;
  padding: 0;
  background: none;
  width: 100%;
  & h3 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }
  .empty {
    @include block;
  }
}
